attrs
beautifulsoup4
bleach
certifi
cffi
charset-normalizer
click
colorama
cryptography
defusedxml
entrypoints
fastjsonschema
ghp-import
gitdb
GitPython
idna
importlib-metadata
Jinja2
jsonschema
jupyter-client
jupyter-core
jupyterlab-pygments
Markdown
MarkupSafe
mergedeep
mistune
mkdocs
mkdocs-autolinks-plugin
mkdocs-awesome-pages-plugin
mkdocs-glightbox
mkdocs-material
mkdocs-material-extensions
mkdocs-monorepo-plugin
mknotebooks
nbclient
nbconvert
nbformat
nest-asyncio
packaging
pandocfilters
pycparser
pygments
PyJWT
pymdown-extensions
pyparsing
pyrsistent
python-dateutil
python-slugify
pywin32; sys_platform == "win32"
PyYAML
pyyaml-env-tag
pyzmq
requests
six
smmap
soupsieve
text-unidecode
tinycss2
tornado
traitlets
urllib3
watchdog
webencodings
zipp